* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.main_esq {
    width: 495px;
    margin-right: 38px;
    margin-top: 93px;
}

    .main_esq_button {
        display: flex;
        justify-content: center;
    }

    .main_esq_bolinhas {
        display: flex;
        justify-content: space-between;
        margin-top: 91px;
    }

    .main_esq p {
        margin-top: 24px;
        text-align: justify;
    }

.main_dir {
    width: 655px;
    display: flex;
}
    .main_dir_img {
        display: flex; 
        flex-direction: column; 
    }
    
.picture {
    width: 302px;
    height: 348px;
    border-radius: 40px;
    border: 1px solid #000;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    color: #333333;
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #333333 
}

p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}

button {
    width: 222px;
    height: 66px;
    border-radius: 40px;
    border: 0px;
    background-color: #333333;

    font-family: "Lato", sans-serif;
    color: white;
    font-size: 22px;

    margin-top: 35px;
}